* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
section {
    width: 100%;
    height: 100vh;
}

section header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0,0,0, 0.3); 

}
section header .logo {
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold ;
    margin: 15px 0;
}

section header .logo span {
    color:#FFEA20;

}
section header ul {
    list-style: none;
}
section header ul li{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;
} 
section header ul li a {
    color: black;
    text-decoration: none;

}
section header ul li a:hover{
    color: #8DCBE6;
}

section header p {
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #9DF1DF;
    border-radius: 30px;
    transition: 0.3s;
}
section header p:hover{
    color: white;
    background: #9DF1DF;
}

.cricle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9DF1DF;
    clip-path: circle(320px at left -230px);
    z-index: -1;

}
.cricles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #9DF1DF;
    clip-path: circle(250px at right 800px);
    z-index: -1;
}
section .texts h1{
    position: absolute;
    top: 30%;
    left: 4%;
    font-size: 100px;
    color: #9DF1DF;

}
section .texts h1 span{
    color: #FFEA20;
}
section .texts p{
    width: 650px;
    position: absolute;
    top: 50%;
    left: 4%;
    line-height: 26px;
    text-align: justify;


}
section .background-image img{
    width: 750px;
    position: absolute;
    top: 25%;
    left: 47%;
    margin-left: 25px;

}
section .btn {
    position: relative;
    display: flex;
    top: 77%;
    left: 38px;
    width: 340px;
    align-items: center;
    justify-content: space-around;

}
section .btn .read{
    background: #8DCBE6;
    color: white;
    cursor: pointer;
    transition: 0.3s;


}
section .btn p{
    padding: 10px 25px;
    background: none;
    border: 2px solid #8DCBE6 ;
    cursor: pointer;
    transition: 0.3s; 
}


.about{
    width: 100%;
    height: 240vh;
    padding: 50px;

}
.about .box{
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;

}
.about .box .card{
    width:170px ;
    height: auto;
    padding: 5px 10px;
    margin: 0 15px;
    background:gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}
.about .box .card:hover{
    box-shadow: 3px 5px 20px rgba(0, 0,0, 0.3);
    transform: scale(1.1);
    border-radius: 5px;
}

.about .box .card img{
    width: 150px;
}
.about hr{
    height:2px;
    background: #8DCBE6;
    border-radius: 10px;
    margin: 30px 110px;
}

.about .clothes h1{

    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}
.about .clothes p{
    text-align: center;
    margin: 35px 0;
    color: gray;
    font-size: 25px;
}
.about .clothes-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.about .clothes-box .clothes-card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.about .clothes-box .clothes-card:hover{
    box-shadow: 5px 5px 5px rgba(0, 0,0,0.6);
}

.about .clothes .clothes-box img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;

}
.about .clothes .clothes-box img:hover{
    transform: scale(1.1);
}
.about .clothes-box .clothes-card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
    

}
.about .clothes-box .clothes-card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}
.about .clothes-box .clothes-card .btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background: #E3F6FF;
    border-radius: 20px;
}
.about .watches p{
    text-align: center;
    margin: 35px 0;
    color: grey;
    font-size: 25px;
}
.about .watches-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;

}
.about .watches-box .watches-card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;

}
.about .watches-box .watches-card:hover{
    box-shadow: 5px 5px 5px rgba(0,0, 0,0.6);
}
.about .watches-box .watches-card img{
    width: 250px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.about .watches-box .watches-card img:hover{
    transform: scale(1.1);
}
.about .watches-box .watches-card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}
.about .watches-box .watches-card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}
.about .watches-box .watches-card .btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background: #E3F6FF;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;

}



.about .bags p{
    text-align: center;
    margin: 35px 0;
    color: grey;
    font-size: 25px;
}
.about .bags-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;

}
.about .bags-box .bags-card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;

}
.about .bags-box .bags-card:hover{
    box-shadow: 5px 5px 5px rgba(0,0, 0,0.6);
}
.about .bags-box .bags-card img{
    width: 250px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.about .bags-box .bags-card img:hover{
    transform: scale(1.1);
}
.about .bags-box .bags-card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}
.about .bags-box .bags-card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}
.about .bags-box .bags-card .btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background: #E3F6FF;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;

}






.about .sunglasses p{
    text-align: center;
    margin: 35px 0;
    color: grey;
    font-size: 25px;
}
.about .sunglasses-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;

}
.about .sunglasses-box .sunglasses-card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;

}
.about .sunglasses-box .sunglasses-card:hover{
    box-shadow: 5px 5px 5px rgba(0,0, 0,0.6);
}
.about .sunglasses-box .sunglasses-card img{
    width: 250px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.about .sunglasses-box .sunglasses-card img:hover{
    transform: scale(1.1);
}
.about .sunglasses-box .sunglasses-card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}
.about .sunglasses-box .sunglasses-card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}
.about .sunglasses-box .sunglasses-card .btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background: #E3F6FF;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;

}



.about .shoes p{
    text-align: center;
    margin: 35px 0;
    color: grey;
    font-size: 25px;
}
.about .shoes-box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:15px;

}
.about .shoes-box .shoes-card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;

}
.about .shoes-box .shoes-card:hover{
    box-shadow: 5px 5px 5px rgba(0,0, 0,0.6);
}
.about .shoes-box .shoes-card img{
    width: 250px;
    height: 200px;
    cursor: pointer;
    transition: 0.3s;
}
.about .shoes-box .shoes-card img:hover{
    transform: scale(1.1);
}
.about .shoes-box .shoes-card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}
.about .shoes-box .shoes-card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}
.about .shoes-box .shoes-card .btn{
    text-decoration: none;
    color: black;
    padding: 10px 30px;
    background: #E3F6FF;
    text-align: center;
    border-radius: 20px;
    transition: 0.3s;

}

.footer{
    background: #24262b;
    padding: 50px;
}

.footer .main{
    max-width: 1170px;
    margin: auto;
}

ul{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer_col{
    width: 25%;
    padding: 0 15px;
}

.footer_col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}
/*
.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10x;
    background: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
*/
.footer_col ul li{
    margin-bottom: 20px;
}

.footer_col ul li a{
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
}

.footer_col .social img{
    width: 20px;
    margin: 5px;
}